
.row{
    margin-top: 10px;
}
/* .box2{
    margin-top: 10px;
    height: 300px;
    background-color: red;
    border: 1px solid black;
} */
 .box2-img{
    height: 250px;
    background-color: rgb(136, 55, 55);
}

.box2-content{
    height: 50px;
    background-color: green;
} 

.carousel-item img{
    max-height: 300px;
}
.box2-img .api-image{
    height: 250px;
    width: 100%;

}

